* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
}

.game-video {
  position: absolute;
  width: 100vh;
  height: 100vw;
  margin-top: -100vw;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: -1;
}

#gesture-layer {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 1;
}
