* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
}

.screen {
  position:  absolute;
  width: 56.25vh;
  height: 100vh;
  margin-left: calc(50vw - 28.125vh)
}

.landscape-video {
  position: absolute;
  width: 100vh;
  height: 100vw;
  margin-top: -100vw;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: -1;
}

.portrait-video {
  position:  absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#gesture-layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#info {
  position: absolute;
  font-size: 1em;
  color: #000000;
  background: #ffffff;
  z-index: 1000;
}
